body{
    margin: 0;
    font-family: Helvetica, sans-serif;
}

header{
    background: linear-gradient(121deg, rgba(255,255,255,1) 0%, rgb(248, 77, 77) 77%);
    width: 100%;
    text-align: center;
    box-shadow: 0px 2px 14px #373737;

}

header img{
    height: 10vh;
}

header > button{
    display: none;
}

h1{
    text-align: center;
    font-size: 2em;
    margin-bottom: 0.5em;
}

main > section:first-of-type{
    display: flex;
    flex-direction: row;
}

article > div > section > article > p{
    white-space: nowrap; 
    width: 14em; 
    overflow: hidden;
    text-overflow: ellipsis; 
}

h5{
    text-align: center;
    width: 100%;
    background-color: red;
    color: white;
    font-size: 1.5em;
    border-radius: 0.2em;
}


/* filter section */

form > button{
    height: 5vh;
    width: 10vh;
    margin-top: 1em;
    border-radius: .7em;
    background-color: rgb(253, 252, 252);
    font-weight: bold;
    box-shadow: 0px 2px 14px #373737;
    
}
form > button:hover{
    transform: scale(1.1)

}
form > button:active{
    transform: scale(.9)
}

main > section > article:first-of-type{
    width: 30%;
}

a > p:hover{
    color: rgb(1, 1, 99);
    border: 1px dotted black;
}

a{
    text-decoration: none;

}

form{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1em;
    align-items: center;
 

   
}

form > label > input{
    width: 1.7em;
    height: 1.7em;
    margin-left: 3vh;
}

form > label{
    font-size: 1.8em;
    margin: .3em;
}

form > label:hover{
    background: rgb(228, 228, 228);
    
    
}
form > label:active{
    background: rgb(202, 202, 202);
    
    
}

input[type='checkbox']:checked {
    filter: invert(100%) hue-rotate(322deg) brightness(1.2);
}


/* content section */
main > section > article:nth-of-type(2){
    width: 70%;
    margin:  0 1em 0 1em;


}

.filtercontainer {
    border: 1px solid #b4b4b4;
    margin: 1.5em;
    height: 100%;

}

div > h3{
    text-align: center;
    font-size: 1.5em;
}
/* zoekbalk en knop */
article > div > input{
    height: 4vh;
    width: 80%;
    font-size: 1.5em;
    border-radius: .2em;
    padding: .1em;
    border: 2px solid gray;
}

article > div > input:hover{
    border: 2px solid rgb(0, 0, 0);
}

.searchcontainer{
    text-align: center;
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
}

.searchcontainer button{
    height: 5vh;
    margin-left: 1em;
    border-radius: .2em;
    background-color: rgb(255, 116, 116);
    font-weight: bold;
    box-shadow: 0px 2px 14px #373737;
    color: white;
    border: 1px solid gray
}

.searchcontainer button:hover{
    transform: scale(1.1);
}

.searchcontainer button:focus{
    border: 4px solid gray
}

.searchcontainer button:active{
    transform: scale(.9);
    box-shadow: 0px 0px 0px #373737;
}


/* boeken */

/* box eromheen voor goeie center. werkt nog nie */
main section article div:nth-of-type(2){


}

main > section > article > div > section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

main section article div article{
    padding: 1em;
    transition: .3s ease-in-out;

}

main section article div article:hover{
    transform: scale(1.03);
    transition: .3s ease-in-out;
    background-color: rgb(228, 228, 228);
}

main section article div article img{
    width: 30vh;
    height: 40vh;
}

.skeleton{
    background: gray;
    width: 20em;
    height: 20em;
    margin: auto;
    margin-top:1em
}

.slideback {
    transform: translate(-30%) !important;
    transition: .5s ease-in-out;
}


@media only screen and (max-width: 800px) {
    main > section > article:first-of-type{
        position: fixed;
        transform: translate(-130%);
        background: white;
        width: 70%;
        box-shadow: 18px 18px 27px black;
        border-radius: 20px;
        z-index: 100;
    }
    .filtercontainer{
        border: none;
    }
    

    article:nth-of-type(2){
        width: 100%;
    }
    section:first-of-type{
        place-content: center;
    }
    header > button{
        position: absolute;
        left: 1em;
        top: 2em;
        width: 4.1em;
        height: 2em;
        font-weight: bold;
        display: block;
    }
    header{
        position: sticky;
        top: 0;
        z-index: 100;
    }

    form{
        overflow-y: scroll;
        height: 78vh;
    }
    
  }